# exclude golang binary files:
extras/bin/*

# exclude service configuration files:
extras/*yml
extras/*yaml

# exclude test DB files:
extras/*db

# exclude local IDE files:
.idea/

# exclude golang vendor dir:
vendor/
